.video {
  margin-bottom: -37px;
  margin-left: 40px;
  margin-top: -55px;
}

.certificate {
  position: absolute;
  right: 0;
  top: 237;
  margin-right: 30px;
  text-align: center;
}

.certificate img:hover {
  transform: scale(1.2);
  transition: 0.25s;
}

.certificate img:not(:hover) {
  transition: 0.2s;
}

.img:hover ~ .layer {
  top: 15px;
}

.layer {
  position: relative;
  text-decoration: none;
  top: 10px;
}

.layer:hover {
  text-decoration: underline; 
}

